body
{
    color:white;
    font-size:24px;
}

div
{
   padding:12px; 
}

div.one
{
    background-color: #4F6367;
}

div.two
{
    background-color: #FE5F55;
}

div.three
{
    background-color: #7A9E9F;
}

div.four
{
    background-color: #4F6367;
}

div.five
{
    background-color: #FE5F55;
}

div.six 
{
    background-color: #7A9E9F;
}


